*.pdf
/volumes/
__pycache__/
*.pyc
.venv/
.DS_Store
*.egg-info/
dist/
.env
/source/*
/sounds/cosmos/cosmos01.wav
*/node_modules

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
